################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hatzloah/Web.Release.config
/Hatzloah/Web.Debug.config
/Hatzloah/Web.config
/Hatzloah/packages.config
/Hatzloah/hatzolah.jpg
/Hatzloah/Hatzloah.csproj.user
/Hatzloah/Hatzloah.csproj
/Hatzloah/Global.asax.cs
/Hatzloah/Global.asax
/Hatzloah/favicon.ico
/Hatzloah/ApplicationInsights.config
/packages
/Hatzloah/StoredProcedures
/Hatzloah/Scripts
/Hatzloah/Properties
/Hatzloah/obj
/Hatzloah/fonts
/.vs
/Hatzloah/App_Start/NinjectWebCommon.cs
/Hatzloah/bin
/Hatzolah.Domain/bin
/Hatzolah.Domain/obj/Debug
/Hatzolah.Domain/Properties
/Hatzolah.Domain/Web.Release.config
/Hatzolah.Domain/Web.Debug.config
/Hatzolah.Domain/Web.config
/Hatzolah.Domain/packages.config
/Hatzolah.Domain/Hatzolah.Domain.csproj.user
/Hatzolah.Domain/Hatzolah.Domain.csproj
/Hatzolah.DataAccess/bin
/Hatzolah.DataAccess/obj/Debug
/Hatzolah.DataAccess/Properties
/Hatzolah.DataAccess/Web.Release.config
/Hatzolah.DataAccess/Web.Debug.config
/Hatzolah.DataAccess/Web.config
/Hatzolah.DataAccess/packages.config
/Hatzolah.DataAccess/IHatzolahContext.cs
/Hatzolah.DataAccess/HatzolahContext.cs
/Hatzolah.DataAccess/Hatzolah.DataAccess.csproj.user
/Hatzolah.DataAccess/Hatzolah.DataAccess.csproj
/Hatzloah/Web.Hatzloah20171109055042 - Web Deploy.config
/Hatzolah.DataAccess/obj/Release
/Hatzolah.Domain/obj/Release
