
@{
    ViewBag.Title = "Hatzolah Portal";
}
<br />
<br />
<div class="container col-lg-5 well" style="display: inline-block;">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-danger" onclick="logTheTime('demo')" style="width:90%;">Log Start Time</button>
        </div>
    </div>
    <br />
    <h4>Hatzolah, What's the address of your emergency?</h4>
    <div class="row">
        <div class="col-lg-9">
            <input id="address" onblur="addAddressAndCrossRoads()" class="form-control" placeholder="Address" style="width:90%" />
        </div>
        <div class="col-lg-3">
            <input id="apt-num" onblur="addApt()" placeholder="Apt" class="form-control" type="text" style="width:90%" />
        </div>
    </div>
    <br />
    <a id="map-it-link" target="_blank" hidden>Map it!</a>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h4>What is the emergency?</h4>
            <input id="noc" onblur="addNoc()" class="form-control" type="text" placeholder="NOC" style="width:90%" />
        </div>
    </div>
    <div id="additional-questions-hidden" hidden>
        <br />
        @*<a data-toggle="collapse" data-target="#general-questions" style="float:right">Collapse</a>*@
        <div id="general-questions" class="row">
            <div class="col-lg-12">
                <p><b>General Questions: </b></p>
            </div>
            <div class="col-lg-9">
                <p>1) WHAT’S A GOOD CALL BACK NUMBER?</p>
            </div>
            <div class="col-lg-3">
                <input id="tel" type="text" class="form-control" onblur="addTel()" />
            </div>
            <br />
            <br />
            <div class="col-lg-9">
                <p>2) ARE YOU WITH THE PATIENT?</p>
            </div>
            <div class="col-lg-3">
                <input id="input-for-general-questions-with-patient" class="form-control" type="text" />
            </div>
            <br />
            <br />
            <div class="col-lg-9">
                <p>3) IS S/HE CONSCIOUS?</p>
            </div>
            <div class="col-lg-3">
                <input id="input-for-general-questions-conscious" class="form-control" type="text" />
            </div>
            <br />
            <br />
            <div class="col-lg-9">
                <p>4) BREATHING?</p>
            </div>
            <div class="col-lg-3">
                <input id="input-for-general-questions-breathing" class="form-control" type="text" />
            </div>
            <br />
            <br />
            <div class="col-lg-9">
                <p>5) HOW OLD IS S/HE APPROXIMATELY?</p>
            </div>
            <div class="col-lg-3">
                <input id="input-for-general-questions-age" class="form-control" type="text" />
            </div>
            <br />
            <br />
            <div id="additional-questions-title">
                <div class="row">
                    <div class="col-lg-12">
                        <p style="margin-left: 15px;"><b>Additional Questions: </b></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p id="additional-questions"></p>
                </div>
            </div>
            <br />
            <div class="col-lg-9">
                <p>6) CAN YOU SEND SOMEONE TO OPEN THE FRONT DOOR? WE ARE ON THE WAY! IF THERE IS A CHANGE IN THE SITUATION, PLEASE CALL US BACK.</p>
            </div>
        </div>
        <br />
    </div>
    <br />
    <div id="additional-responders">
    </div>
    <br />
    <a onclick="addResponders(this, arguments)">Add Additional Responders</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <button class="btn btn-danger" onclick="logTheTime('EMS-called-time')" style="width:100%">EMS Called Time</button>
        </div>
        <div class="col-lg-5">
            <button class="btn btn-danger" onclick="logTheTime('EMS-arrived-time')" style="width:100%">EMS Arrived Time</button>
        </div>
    </div>
</div>
<div class="col-lg-1"></div>
<div id="input-text" class="container col-lg-5 well" style="display: inline-block; overflow:auto">
    <i id="loader" style="font-size:50px"></i>
    <div class="row">
        <div class="col-lg-6">
            <h4>Start Time:</h4>
        </div>
        <div class="col-lg-6">
            <h4 id="demo"></h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <h4>Address:</h4>
        </div>
        <div class="col-lg-6">
            <p id="input-address"></p>
            <p id="input-city" hidden></p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <h4 id="cross-roads-title">Cross Roads: </h4>
        </div>
        <div class="col-lg-6">
            <p id="input-cross-roads"></p>
        </div>
        <div class="i-frame"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <h4>Telephone: </h4>
        </div>
        <div class="col-lg-6">
            <p id="input-tel"></p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12" id="noc-desc">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <h4>Full Radio Text</h4>
        </div>
        <div class="col-lg-6">
            <p id="full-text"></p>
        </div>
    </div>
    <br />
    <div class="row" id="additional-responder-input" style="margin-left:2px"/>
    <div class="row">
        <div class="col-lg-6">
            <h4>EMS Called Time:</h4>
        </div>
        <div class="col-lg-6">
            <h4 id="EMS-called-time"></h4>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-6">
            <h4>EMS Arrived Time:</h4>
        </div>
        <div class="col-lg-6">
            <h4 id="EMS-arrived-time"></h4>
        </div>
    </div>
    <br />
    @*@Html.ActionLink("Prin Pdf", "PrintPdf", "Home", new { id = "printPDfText()" })*@
    <button onclick="printPdf()" class="col-lg-12 btn btn-danger">Print Pdf (Doesn't work yet)</button>
</div>
<script src="@Url.Content("~/Scripts/HatzolahIndex.js")" type="text/javascript"></script>
<script>

    var nocList = @Html.Raw(Json.Encode(Model));
    var getNocUrl = '@Url.Action("GetNoc", "Home")';
    addNocs(nocList);
    addResponders();

</script>

